.error {
  color: #014c3e;
  height: 200px;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.header {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.message {
  font-size: 0.7rem;
  margin: 0.2rem;
}
