.header {
  align-items: center;
  background-color: #014c3e;
  color: #fff;
  display: flex;
  height: 10%;
  padding: 0 1rem;
  width: 100%;
}

.icon {
  height: 20px;
}

.title {
  font-size: 1.2rem;
  margin: 1rem 0;
}
