html,
body,
#root .App {
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.App {
  background-color: #faf7ed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Hahmlet', serif;
}

.typed {
  width: 100%;
  color: #014c3e;
  margin: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}
