/* Card Styles */ 
.card {
  background-color: #014c3e;
  border-radius: 4px;
  box-shadow: #014c3e 0px 5px 10px 0px;
  color: #fff;
  margin: 1rem;
  max-width: 300px;
  padding: 0.6rem;
  width: 100%;
}

.title {
  margin-top: 0;
}

.image {
  border-radius: 4px;
  height: 100px;
  width: 100%;
}

.content {
  font-size: 0.8rem;
  margin: 0.4rem 0;
}

/* Like Button Styles */ 
.like {
  animation: shake 0.3s ease-in-out;
  height: 20px;
}

.like:hover {
  color: #a4c85f;
  cursor: pointer;
}

.liked {
  animation: throb 0.8s ease-in-out;
  color: #a4c85f;
  height: 20px;
}

.liked:hover {
  cursor: pointer;
}

/* Animations */
@keyframes shake {
  0% {
    transform: translate(2px, 0);
  }
  20%{
    transform: translate(-2px, 0);
  }
  40% {
    transform: translate(2px, 0);
  }
  80%{
    transform: translate(-2px, 0);
  }
}

@keyframes throb {
  0% {
    transform:scale(1.2);
  }
  20%{
    transform:scale(1);
  }
  40% {
    transform:scale(1.2);
  }
  80%{
    transform:scale(1);
  }
}